Transparent RCDATA "Styles\\Windows\\Transparent.Style"
Win10ModernBlue RCDATA "Styles\\Windows\\Win10ModernBlue.Style"
Win10ModernDark RCDATA "Styles\\Windows\\Win10ModernDark.Style"
Win10ModernGreen RCDATA "Styles\\Windows\\Win10ModernGreen.style"
Win10ModernPurple RCDATA "Styles\\Windows\\Win10ModernPurple.style"
Win10ModernSlateGray RCDATA "Styles\\Windows\\Win10ModernSlateGray.style"
